{% extends 'base.html' %}
{% load static %}

{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'css/summernote.css' %}">
{% endblock css %}
{% block content %}
<div class="page-header" style="background: url(assets/img/banner1.jpg);">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="breadcrumb-wrapper">
                    <h2 class="product-title">Post you Ads</h2>
                    <ol class="breadcrumb">
                        <li><a>Home /</a></li>
                        <li class="current">Post you Ads</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
</div>


<div id="content" class="section-padding">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-4 col-lg-3 page-sidebar">
                <aside>
                    <div class="sidebar-box">
                        <div class="user">
                            <figure>
                                <a href="#"><img src="assets/img/author/img1.jpg" alt=""></a>
                            </figure>
                            <div class="usercontent">
                                <h3>Hello William!</h3>
                                <h4>Administrator</h4>
                            </div>
                        </div>
                        <nav class="navdashboard">
                            <ul>
                                <li>
                                    <a href="dashboard.html">
                                        <i class="lni-dashboard"></i>
                                        <span>Dashboard</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="account-profile-setting.html">
                                        <i class="lni-cog"></i>
                                        <span>Profile Settings</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="account-myads.html">
                                        <i class="lni-layers"></i>
                                        <span>My Ads</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="lni-envelope"></i>
                                        <span>Offers/Messages</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="payments.html">
                                        <i class="lni-wallet"></i>
                                        <span>Payments</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="account-favourite-ads.html">
                                        <i class="lni-heart"></i>
                                        <span>My Favourites</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="account-profile-setting.html">
                                        <i class="lni-star"></i>
                                        <span>Privacy Settings</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="lni-enter"></i>
                                        <span>Logout</span>
                                    </a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                    <div class="widget">
                        <h4 class="widget-title">Advertisement</h4>
                        <div class="add-box">
                            <img class="img-fluid" src="assets/img/img1.jpg" alt="">
                        </div>
                    </div>
                </aside>
            </div>
            <div class="col-sm-12 col-md-8 col-lg-9">
                <form action="" method="post">
                    {% csrf_token %}
                    <div class="row page-content">
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-7">
                            <div class="inner-box">
                                <div class="dashboard-box">
                                    <h2 class="dashbord-title">Ad Detail</h2>
                                </div>
                                <div class="dashboard-wrapper">
                                    <div class="form-group mb-3">
                                        <label class="control-label">Project Title</label>
                                        {{ form.title }}
                                    </div>
                                    <div class="form-group mb-3 tg-inputwithicon">
                                        <label class="control-label">Categories</label>
                                        {{ form.category }}
                                    </div>
                                    <div class="form-group mb-3">
                                        <label class="control-label">Price Title</label>
                                        {{ form.price }}
                                    </div>
                                    <div class="form-group mb-3">
                                        <label class="control-label">Discount</label>
                                        {{ form.discount }}
                                    </div>
                                    <div class="form-group md-3">
                                        <section id="editor">
                                            <div id="summernote" name="summernote">
                                            </div>
                                        </section>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-5">
                            <div class="inner-box">
                                <div class="tg-contactdetail">
                                    <div class="dashboard-wrapper">
                                        <label class="tg-fileuploadlabel" for="tg-photogallery">
                                        <span>Drop files anywhere to upload</span>
                                        <span>Or</span>
                                        <span class="btn btn-common">Select Files</span>
                                        <span>Maximum upload file size: 500 KB</span>
                                        <input id="tg-photogallery" class="tg-fileinput" type="file" name="file" multiple>
                                    </label>
                                        <div class="form-group mb-3 tg-inputwithicon">
                                            <label class="control-label">City</label>
                                            {{ form.city }}
                                        </div>
                                        <div class="form-group mb-3">
                                            <label class="control-label">Enter Address</label>
                                            {{ form.address }}
                                        </div>
                                        <div class="form-group mb-3">
                                            <label class="control-label">Select condition</label>
                                            {{ form.condition }}
                                        </div>
                                        <div class="tg-checkbox">
                                            <div class="custom-control custom-checkbox">
                                                <input type="checkbox" class="custom-control-input"
                                                       id="tg-agreetermsandrules">
                                                <label class="custom-control-label" for="tg-agreetermsandrules">I agree to
                                                    all <a href="javascript:void(0);">Terms of Use &amp; Posting
                                                        Rules</a></label>
                                            </div>
                                        </div>
                                        <button class="btn btn-common" type="submit">Post Ad</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock content %}

{% block javascript %}
<script>
      $('#summernote').summernote({
          height: 250, // set editor height
          minHeight: null, // set minimum height of editor
          maxHeight: null, // set maximum height of editor
          focus: false // set focus to editable area after initializing summernote
      });

</script>
{% endblock javascript %}